.r-filter__header {
  font-weight: 600;
}

.r-filter__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0
}

.r-filter__checkbox {
  color: black;
  margin-left: 0 !important;
  margin-bottom: 0;
}


.r-filter__range {
  position: relative;
  width: 45%;
}

.r-filter__range span {
  position: absolute;
  top: 0;
  left: 5px;
  padding: 8px 0;
  color: grey;
}

.r-filter__range__all {
  height: 116px;
}

.r-filter__range input {
  padding-left: 28px
}

.r-filter__range_left {
  float: left;
}

.r-filter__range_right {
  float: right;
}

.r-filter__list {
    list-style: none;
}
